:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --font-family: "Raleway" sans-serif;

  --font-weight: 800px;
  --font-weight: 700px;
  --font-weight: 500px;
  --font-weight: 400px;

  --font-size: 16px;
  --font-size: 18px;
  --font-size: 20px;
  --font-size: 36px;
  --font-size: 56px;

  --text-decoration: none;
  --list-style-type: none;

  --line-height: 1.16em;
  --line-height: 1.5em;
  --line-height: 1.07em;
  --line-height: 1.2em;
  --line-height: 1.11em;
  --line-height: 1.17em;
  --letter-spacing: -0.02em;
  --letter-spacing: -0.03em;
  --letter-spacing: -0.04em;
  --text-transform: uppercase;
  --background-color: #fff;
  --background-color: #404bbf;
  --background-color: #2e2f42;
  --background-color: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

.link {
  text-decoration: none;
}
.link-btn {
  text-decoration: none;
}
.link-logo {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.link-btn:hover,
.link-btn:focus {
  color: #fff;
  background-color: #404bbf;
}
.list {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  max-width: 1128px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid #000;
}

.header-logo {
  color: #4d5ae5;
  background-color: var(--white, #fff);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  width: 44px;
  padding: 25.5px 0 25.5px 0;
}

.header-logo-second {
  color: var(--navyblue, #2e2f42);
  width: 71px;
  padding: 25.5 1169 25.5 200;
  margin-right: 76px;
}

.header-navigation {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
}

.header-list {
  margin: 0 832px 0 76px;
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 24px 0 24px 0;
}

.header-link {
  display: flexbox;
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-mailto {
  font-style: normal;
}

.header-mailto-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: nowrap;
  padding: 24px 0 24px 0;
}

.header-mailto-link {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.hero {
  width: 1440px;
  height: 660px;
  max-width: 1128px;
  padding: 0 15px;
  background-color: #2e2f42;
  align-content: center;
  flex-shrink: 0;
  margin: 0 auto;
}
.hero-title {
  display: flex;
  width: 496px;
  margin: 188px 472px 292px 472px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07em;
  letter-spacing: 0.02em;
}
.hero-button {
  color: var(--white, #fff);
  background-color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}
.values {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  align-content: center;
}

.values-list {
}

.values-item {
  gap: 24px;
}

.values-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 102px;
}
.values-text {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}
.product {
  background-color: var(--white, #fff);
}
.product-title {
  padding-top: 102px;
  padding-bottom: 72px;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.product-img {
  padding-top: 72px;
  display: block;
  max-width: 100%;
  height: auto;
  color: #e7e9fc;
}
.team {
  background-color: var(--cloud, #f4f4fd);
}
.team-title {
  padding-top: 102px;
  padding-bottom: 72px;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  width: calc((100% - 72px) / 4);
}

.team-item {
  background-color: var(--white, #fff);
}
.team-img {
  display: block;
  max-width: 100%;
  height: auto;
  background-color: var(--white, #fff);
}
.team-subtitle {
  padding-top: 32px;
  background-color: var(--white, #fff);
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.team-text {
  background-color: var(--white, #fff);
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}
.footer {
  width: 1440px;
  height: 312px;
  max-width: 1128px;
  padding: 0 15px;
  align-content: center;
  flex-shrink: 0;
  margin: 0 auto;
  background-color: var(--navyblue, #2e2f42);
}
.footer-logo {
  padding-top: 101.5px;
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-second {
  color: var(--cloud, #f4f4fd);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  display: block;
  margin-top: 17.5px;
}

.portfolio {
  background-color: var(--white, #fff);
}
.portfolio-btn {
  background-color: var(--cloud, #f4f4fd);
  color: #4d5ae5;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.portlolio-sec-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-sec-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-sec-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
